<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="table-responsive shadow-sm rounded">
            <table class="table table-striped table-hover table-bordered align-middle mb-0">
                <caption class="text-start fw-bold mb-2 text-center">Nuestro Equipo de trabajo</caption>
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Puesto</th>
                        <th scope="col">Contacto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Esteban</td>
                        <td>CEO</td>
                        <td><a href="tel:+593691565166">06915651661</a></td>
                    </tr>
                    <tr>
                        <td>Valerie</td>
                        <td>Ventas</td>
                        <td><a href="tel:+59398498165">098498165</a></td>
                    </tr>
                    <tr>
                        <td>Manuel</td>
                        <td>Conserje</td>
                        <td><a href="tel:+593351995165">0351995165</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>