body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#contenido-principal {
  flex-grow: 1; 
}

.footer-fijo {
  background-color: #34495e;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 0.9em;
  flex-shrink: 0; 
}

.footer-fijo .card {
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.footer-fijo .card-header {
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-fijo .card-body {
  color: #ffffff;
}

.footer-fijo .blockquote {
  color: #ffffff;
}

.footer-fijo .blockquote-footer {
  color: #ecf0f1;
}

.fondo {
    background-color: #571b1b;
}

.navBarFormat{
    font-family: 'Times New Roman', Times, serif;
}

.caja-centrada {
    border: 1px solid #c6bebe; 
    border-radius: 8px; 
    background-color: #6f48b4; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.titulo-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 2.8em;
  color: #000000; 
  padding: 25px;
  margin: 40px auto; 
  border-bottom: 5px solid #2ecc71;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}



@media (min-width: 0px) and (max-width: 480px) { 
    .headerQuerie{
        position: absolute !important; 
        top: auto !important;          
        left: 0 !important;
        bottom: 0 !important;         
        right: auto !important;       
        
        transform: none !important; 
        
       
        width: 100%;
        margin: 0;
        padding: 10px;
        background-color: #333;
        color: white;
        text-align: center;
    }

    .fondo {
        background-color: #3ed5d5;
    }

    *{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 5px;
    }
}

@media (min-width: 481px) and (max-width: 768px) { 
    .fondo {
        background-color: #3ed57a;
    }

    *{
        font-family: 'Courier New', Courier, monospace;
        font-size: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) { 
    .headerQuerie{
        position: absolute !important; 
        top: auto !important;          
        left: 0 !important;
        top: 30 !important;         
        right: auto !important;       
        
        transform: none !important; 
        
       
        width: 100%;
        margin: 0;
        padding: 10px;
        background-color: #333;
        color: white;
        text-align: center;
    }

    .fondo {
        background-color: #d5a63e;
    }

    *{
        font-family: 'Georgia', serif;
        font-size: 25px;
    }
}