<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Acerca de Mi</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">me gusta la pizza El concepto de la entropía en la física y la termodinámica describe la tendencia natural de los sistemas aislados a progresar hacia un estado de mayor desorden o aleatoriedad. Es una medida de la falta de información que poseemos sobre el estado de un sistema. En términos más sencillos, la energía y la materia se dispersan de manera irreversible con el tiempo. La segunda ley de la termodinámica postula que la entropía total</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">vivo con mis papás Este principio tiene implicaciones profundas que van desde el funcionamiento de las máquinas de vapor hasta la dirección del tiempo en el universo. Es la fuerza que impulsa, por ejemplo, que el hielo se derrita en un vaso o que una habitación se ensucie si no se limpia. Todo tiende al equilibrio, y ese equilibrio a menudo es el estado de máximo desorden.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                <i class="fas fa-download me-2"></i>
                Descarga mi cv
            </a>
        </div>
    </div>
</section>