    #tarea{
        background-image: url(https://imgs.search.brave.com/8wWCIOcTYRWYMRHPnkU-F2m9QHEfsTfECprT9KNsU9A/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMzLm1lbWVkcm9p/ZC5jb20vaW1hZ2Vz/L1VQTE9BREVEODgz/LzVlNzJmYzZlNjc4/ZDcuanBlZw);
    }

    #select{
        border-radius: 8px; 
    }

    #input {
        color: #f71717; 
    }

    #checkbox {
        height: 60px; 
    }

    #radio {
        margin-left: 300px; 
    }