<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS INTERNO</title>

    <style>
        #tarea{
            width: 600px;
        }

        #select{
            color: aqua;
        }

        #input{
            background-color: blueviolet;
        }
        
        #checkbox{
           width: 60px;
        }
        
        #radio {
        opacity: 0;
    }
    </style>
</head>
<body>
    <h1>DOCUMENTO CSS INTERNO</h1>
    <form action="">
        <label for="tarea">TEXT AREA-> width: 600px</label>
        <br>
        <textarea name="tarea" id="tarea"></textarea>
        <br>
        <label for="input">INPUT-> background-color: blueviolet</label>
        <br>
        <input type="text" id="input" placeholder="ESTEBAN">
        <br>
        <label for="select">SELECT -> color: aqua</label>
        <br>
        <select name="select" id="select">
            <option value="" id="select">opcion 1</option>
        </select>
        <br>
        <label for="checkbox">CHECKBOX-> width: 60px</label>
        <input type="checkbox" name="" id="checkbox">
        <br>
        <label for="radio">RADIO-> opacity: 0</label>
        <input type="radio" name="si" id="radio">
    </form>
</body>
</html>